html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 1;
}

form{
    width: 200px;
}

h3{
    font-size: 30px;
    font-weight: bold;
    padding-left:2px;
    padding-bottom: 5px
}
#searchDetails{
    font-size: 14.2px;
    font-style: italic;
    padding-bottom:5px;
    padding-left:2px;
}


#map{
    position:absolute;
    top:0%;
    width:940px;
    height:600px;
}

#info{
    position:relative;
    background-image: url("../assets/background.png");
    margin-left: 62%;
    margin-top: 1%;
    width:250px;
    z-index: 999;
    border-radius:9px;
    margin-bottom: 4px
    -moz-border-radius:9px; /* Old Firefox */


}

#formDiv{
    position:relative;
    background-image: url("../assets/background.png");
    margin-left: 47%;
    margin-top: 1%;
    padding:10px;
    padding-bottom:15px;
    width:395px;
    z-index: 9999999;
    border-radius:9px;
    margin-bottom: 4px
    -moz-border-radius:9px; /* Old Firefox */


}

#explainer{
    position:relative;
    background-image: url("../assets/background.png");
    margin-left: 47%;
    margin-top: 1%;
    padding:10px;
    padding-bottom:15px;
    width:395px;
    z-index: 999;
    border-radius:9px;
    margin-bottom: 4px
    -moz-border-radius:9px; /* Old Firefox */


}


#toggle{
    font-style: italic;
    font-size: 12px;
    position:relative;
    background-image: url("../assets/togglebackground.png");
    margin-left: 70.5%;
    margin-top: 0%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 12px;
    width:130px;
    z-index: 999;
    cursor: pointer;
}



#title{
    position:relative;
    font-size: 17px;
    font-weight: bold;
    font-family: 'arial';
    padding-left: 5px;
    padding-top:3px;
}

#stats{
    font-size: 14px;
    position:relative;
    padding-left: 5px;
    padding-bottom:5px;
}


