html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 1;
}

form{
    width: 200px;
}

h2{
    width:400px;
}

h3{
    font-size: 30px;
    font-weight: bold;
    padding-left:2px;
    padding-bottom: 5px;
}

h4{
    font-size: 25px;
    font-weight: bold;
    padding-left:5px;
    padding-top:3px;
    padding-bottom: 5px
}



#searchDetails{
    font-size: 14.2px;
    font-style: italic;
    padding-bottom:5px;
    padding-left:2px;
}


#map{
    position:absolute;
    top:0%;
    width:940px;
    height:600px;
}

#info{
    position:relative;
    background-image: url("../assets/background.png");
    margin-left: 70%;
    margin-top: 1%;
    width:250px;
    z-index: 999;
    border-radius:9px;
    margin-bottom: 4px
    -moz-border-radius:9px; /* Old Firefox */


}

#formDiv{
    position:relative;
    background-image: url("../assets/background.png");
    margin-left: 54%;
    margin-top: 1%;
    padding:10px;
    padding-bottom:15px;
    width:395px;
    height:100px;
    z-index: 9999999;
    border-radius:9px;
    margin-bottom: 4px
    -moz-border-radius:9px; /* Old Firefox */


}

#explainer{
    position:relative;
    background-image: url("../assets/background.png");
    margin-left: 54%;
    margin-top: 1%;
    padding:10px;
    padding-bottom:15px;
    width:395px;
    z-index: 999;
    border-radius:9px;
    margin-bottom: 4px
    -moz-border-radius:9px; /* Old Firefox */


}

#geocoder{
    z-index: 9999999999999999;
 
}

li{
    background-color: white;
    width: 300px;
    padding-bottom: 5px;
    padding-top:5px;
    padding-left:3px;
    cursor: pointer;
}

li:hover{
    background-color: lightgray;
}


#toggle{
    font-size: 10px;
    position:relative;
    background-image: url("../assets/togglebackground.png");
    margin-left: 77.5%;
    margin-top: 0%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 12px;
    width:168px;
    z-index: 999;
    height:12px;
    cursor: default;
}

#toggle p{
    padding-left: 7px;
    cursor: auto;
}

#title{
    position:relative;
    font-size: 17px;
    font-weight: bold;
    font-family: 'arial';
    padding-left: 5px;
    padding-top:3px;
}

#toggleTitle{
    z-index: 9999;
    position: absolute;
    font-size: 16px;
    top:536px;
    left:18px;
    font-weight: bold;
    cursor: default;
}

#stats{
    font-size: 14px;
    border-spacing: 2px;
    position:relative;
    padding-left: 5px;
    padding-bottom:5px;
}

#x{
    cursor: pointer;
    display:block;
    width:50px;
    height:34px;
    background-image: url("../assets/unselectedx.png");
    position:absolute;
    top:555px;
    left:10px;
    z-index: 9999;
}

#x.selected{
    background-image: url("../assets/selectedx.png");
}

#circle{
    cursor: pointer;
    display:block;
    width:50px;
    height:34px;
    background-image: url("../assets/unselectedcircle.png");
    position:absolute;
    top:555px;
    left:60px;
    z-index: 9999;
}

#circle.selected{
    background-image: url("../assets/selectedcircle.png");
}

